.carousel {
  display: flex;
  max-height: 80vh;
  overflow-x: scroll;
  text-align: center;
}

.carousel section {
  padding: 0 1vw;
}

.btn-StartRecipe {
  bottom: 0;
  position: fixed;
  left: 30vw;
}
