footer {
  background-color: rgb(231, 229, 229);
  border: solid none none none;
  bottom: 0;
  display: flex;
  height: 45px;
  justify-content: space-between;
  left: 0;
  position: fixed;
  width: 100%;
}

footer button {
  background: none;
  border: none;
  cursor: pointer;
}

footer button img {
  border: none;
  width: 40px;
}
