header > button {
  border: none;
  border-radius: 100%;
  height: 7vh;
  width: 13vw;
  margin: 3px 0;
}

header > button img {
  object-fit: cover;
  background: rgba(242, 242, 243, 0);
  padding: 4px;
  max-height: 5vh;
  
}

header{
  margin: 0;
  padding: 0;
  gap:3px;
  display: flex;
  justify-content: space-around;
  background: blueviolet;
  flex-wrap: wrap;
}
.div-inputs-search{
  height: 3em;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: brown;
  justify-content: space-evenly;
  position: absolute;
  top:8vh;
  
}
.page-title{
  margin: 0 2em;
  font-size: xx-large;
}
.div-inputs-search .radio-buttons{
display: flex;
gap: 1em;
}
.div-inputs-search div{
display: flex;
justify-content: center;
  }